<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kaka</title>
    <link rel="icon" type="image/x-icon" href="icon.png">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
</head>
<body>
    <h1>Generate a QR code 100% free no virus no scam india approved</h1>
    <form method="POST">
        <label for="data">Enter Data:</label><br>
        <input type="text" id="data" name="data" required><br>
        <button type="submit">Generate QR code</button>
    </form>
</body>
</html>